<div class="w-100" style="background-color: #4e474a">
  <div class="container">
    <div class="row">
      <div class="col" style="padding-top: 20px;">
        <span>&copy; Maria Navarrete Copyright. All Rights Reserved.</span>
      </div>
    <div class="col">
      <div class="d-flex flex-row-reverse">
        <div class="p-2">

          <!-- FACEBOOK LINK -->
          <a href="https://www.facebook.com/mcpadlan/" class="button">Facebook</a>
          <!-- LINKEDIN LINK -->
          <a href="https://www.linkedin.com/in/mcpadlan/" class="button">Linkedin</a>
          <!-- GITHUB LINK -->
          <a href="https://github.com/marcanav" class="button">GitHub</a>

          
          
         
          
         
          
      </div>
    </div>
  </div>
</div>

